{{> head }}

{{> navbar }}

<div class="row">

	<div class="col-8">
		<h1>About Page</h1>
		<p>
			Lorem ipsum dolor sit amet consectetur adipiscing elit mauris interdum platea, habitant nascetur maecenas cum ad nam feugiat inceptos penatibus mus, sem imperdiet volutpat commodo laoreet id velit blandit semper.
		</p>
	</div

	<div class="col-4">
		<img src="assets/img/mago.png" class="img-thumbnail">
	</div

</div>

{{> footer }}